.btn.active {
  background: @primary;
  color: white;
}
.btn.de_active {
  background-color: #bababa;
  color: white;
}
.btn.disable{
  color: white;
  background: #C4CAD3;
}

.gradient{
  background: linear-gradient(90deg, #FF861B 0%, #F6C460 100%);
}